{% extends 'base.html' %}

{% load static %}

{% block title%}Contact{% endblock title%}

{% block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Your Appointment</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Contact Area Start ***** -->
  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
		<h3>Review your appointment details.</h3>
	  </div>
	  <div class="row">
		<p>{{ your_name }}</p>
	  </div>
	  <div class="row">
		<p>{{ your_phone }}</p>
	  </div>
	  <div class="row">
		<p>{{ your_email }}</p>
	  </div>
	  <div class="row">
		<p>{{ your_address }}</p>
	  </div>
	  <div class="row">
		<p>{{ your_schedule }}</p>
	  </div>
	  <div class="row">
		<p>{{ your_time }}</p>
	  </div>
	  <div class="row">
		<p>{{ your_message }}</p>
	  </div>
    </div>
  </section>
  <!-- ***** Contact Area End ***** -->

{% endblock content %}




